@{
    ViewData["Title"] = "Home Page";
}
<h1>Career Devs - Scraper Project 2018</h1>
<h2>About</h2>
<p>A website that scrapes finace data, stores it to database, and displays it. Hoorah.</p>
<h2>Technology</h2>
<p>This project uses ASP.NET Core to build a MVC.</p>
<p>On the backend, a Selenium headless browser scrapers data from the Yahoo! Finance website, and writes it to a SqlLite database</p>
<h2>Contact</h2>
<p></p>